.form {
  width: 736px;
  height: 1098px;
  transform: rotate(0deg);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 351px;
  border-width: 1px;
  border-style: solid;
  border-color: #000; 
}
.main {
  width: 1440px;
  height: 368px;
  transform: rotate(0deg);
  opacity: 1;
  background: #121214;
}
